<div class="container">
  <div class="row bg-dark mb-4">
    <h1 class="col text-center text-light">Manuel Alcázar Patiño</h1>
    <h1 class="col text-center text-danger">Desarrollador Full Stack</h1>
  </div>
  <ul class="row align-items-center">
    <li class="col-lg-3 h6 fw-bold">
       manuelcodex23@gmail.com
    </li>
    <li class="col-lg-3 h6 fw-bold">618979739</li>
    <li class="col-lg-3 h5">
      <span>Linkedin: </span>
      <a
        target="_blank"
        class=" text-dark fw-bold"
        href="https://www.linkedin.com/in/manuel-alc%C3%A1zar-pati%C3%B1o/"
      >
        Manuel Alcázar Patiño</a
      >
    </li>
    <li class="col-lg-3 h5">
      <span>Github: </span
      ><a
        target="_blank"
        class=" text-dark fw-bold"
        href="https://github.com/Manuel0311Nan"
      >
        Manuel Alcázar Patiño</a
      >
    </li>
  </ul>

<main class="p-3 container">
  <div class="row border-bottom"></div>
  <h4 class="lead">
    Comencé mi carrera profesional como profesional de comercio y marketing, he
    trabajado sobre todo con cliente final y en el departamento de logística.
  </h4>
  <h4 class="lead">
    Actualmente soy desarrollador Full Stack junior y me describo como una
    persona a la que le gusta seguir mejorando continuamente, perserverante y
    con capacidad para trabajar en equipo.
  </h4>
  <h4 class="lead">
   <span class="fw-bold">Nivel de inglés  B2</span> con capacidad de mantener una conversación fluida</h4>
   <h4 class="lead fw-bold">Vehículo propio</h4>
</main>
  <div class="row">
    <h4 class=" pb-2 border-bottom text-center fw-bold">Stack Principal</h4>
    <div class="col-sm-12 col-md-3  mt-4">
      <img
      class=" imag"
        src="../../../assets/images/angular_logo_icon_169595.png"
        alt=""
        style="width: 120px"
      />
    </div>
    <div class="col-sm-12 col-md-3  mt-4">
      <img
      class=" imag"
        src="../../../assets/images/nodejs.png"
        alt=""
        style="width: 120px"
      />
    </div>
    <div class="col-sm-12 col-md-3  mt-4">
      <img
      class=" imag"
        src="../../../assets/images/mongodb.png"
        alt=""
        style="width: 120px"
      />
    </div>
    <div class="col-sm-12 col-md-3 mt-4">
      <img
      class=" imag"
        src="../../../assets/images/bootstrap.png"
        alt=""
        style="width: 120px"
      />
    </div>
  </div>
  <div class="row mt-3 align-items-center">
    <h4 class=" pb-2 border-bottom text-center fw-bold">Conocimientos en</h4>
    <div class="col-sm-12 col-md-3  mt-4">
      <img
      class=" imag"
        src="../../../assets/images/react.png"
        alt=""
        style="width: 120px"
      />
    </div>
    <div class="col-sm-12 col-md-3  mt-4 ">
      <img
      class=" imag"
        src="../../../assets/images/php.png"
        alt=""
        style="width: 120px"
      />
    </div>
    <div class="col-sm-12 col-md-3  mt-4">
      <img
      class=" imag"
        src="../../../assets/images/mysql.jpg"
        alt=""
        style="width: 120px"
      />
    </div>
    <div class="col-sm-12 col-md-3  mt-4">
      <img
      class=" imag"
        src="../../../assets/images/ionic.png"
        alt=""
        style="width: 120px"
      />
    </div>
  </div>
<div class="b-example-divider"></div>

<div class="container px-4 py-5" id="Education">
  <h2 class="pb-2 border-bottom text-center">Formación</h2>

  <div
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5"
  >
    <div class="col-md-4 d-flex align-items-start">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-1-circle col-2 mt-2"
        viewBox="0 0 16 16"
      >
        <path
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM9.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383h1.312Z"
        />
      </svg>
      <div>
        <h4 class="fw-bold mb-0">Grado en comercio</h4>
        <p class="text-start mt-lg-5 mt-sm-4 lh-sm -2">
          Educación basada en marketing, donde me formé tanto en teoría
          económica como en administración de empresas
        </p>
        <p class="text-start lh-sm -2">
          Análisis de mercado, métodos estadísticos, gestión de equipos,
          habilidades comunicativas
        </p>
        <h5 class="text-center lh-sm -2 fw-bold">
          <a
            class="text-decoration-none text-danger border-bottom"
            href="https://www.ucm.es/"
            target="_blank"
            >Universidad Complutense de Madrid</a
          >
        </h5>
        <h5 class="text-center lh-sm -2 h6">2012-2017</h5>
      </div>
    </div>
    <div class=" col-md-4 d-flex align-items-start">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-2-circle col-2 mt-2"
        viewBox="0 0 16 16"
      >
        <path
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM6.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306Z"
        />
      </svg>
      <div>
        <h4 class="fw-bold mb-0">MBA Business Administration</h4>
        <p class="text-justify mt-md-4 mt-lg-5 mt-sm-4 lh-sm -2">
          Especialización en materia empresarial, conocimiento general de la empresa.
        </p>
        <p class="text-justify lh-sm -2">
          Contabilidad, marketing, administración de empresas,. gestión de equipo y desarrollo de aptitudes directivas
        </p>
        <h5 class="text-center lh-sm -2 fw-bold">
          <a
            class="text-decoration-none text-danger border-bottom"
            href="https://www.eae.es/"
            target="_blank"
            >EAE Business School</a
          >
        </h5>
        <h5 class="text-center lh-sm -2 h6">2018-2020</h5>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-start">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-3-circle col-2 mt-2"
        viewBox="0 0 16 16"
      >
        <path
          d="M7.918 8.414h-.879V7.342h.838c.78 0 1.348-.522 1.342-1.237 0-.709-.563-1.195-1.348-1.195-.79 0-1.312.498-1.348 1.055H5.275c.036-1.137.95-2.115 2.625-2.121 1.594-.012 2.608.885 2.637 2.062.023 1.137-.885 1.776-1.482 1.875v.07c.703.07 1.71.64 1.734 1.917.024 1.459-1.277 2.396-2.93 2.396-1.705 0-2.707-.967-2.754-2.144H6.33c.059.597.68 1.06 1.541 1.066.973.006 1.6-.563 1.588-1.354-.006-.779-.621-1.318-1.541-1.318Z"
        />
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Z"
        />
      </svg>
      <div>
        <h4 class="fw-bold">Bootcamp Full Stack</h4>
        <p class="text-justify mt-lg-5 mt-sm-2 lh-sm-3 ">
          Especialización como Full Stack Developer, diseño e integración de páginas web (Front End), hasta programación y gestión de bases de datos (Back End)
        </p>
        <p class="text-justify lh-sm -2 ">
          Análisis de mercado, métodos estadísticos, gestión de equipos,
          habilidades comunicativas
        </p>
        <h5 class="text-center lh-sm -2 fw-bold">
          <a
            class="text-decoration-none text-danger border-bottom"
            href="https://www.upgrade-hub.com/"
            target="_blank"
            >Upgrade Hub</a
          >
        </h5>
        <h5 class="text-center lh-sm -2 h6">2022</h5>
      </div>
    </div>
  </div>
</div>
<div class="container px-4 py-5" id="Experience">
  <h2 class="pb-2 border-bottom text-center">Experiencia</h2>
  <div
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5"
  >
    <div class="col d-flex align-items-start">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-1-circle col-2 mt-2"
        viewBox="0 0 16 16"
      >
        <path
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM9.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383h1.312Z"
        />
      </svg>
      <div>
        <h4 class="fw-bold mb-0">Comercial Dispositivos Móviles</h4>
        <p class="text-start mt-lg-4 mt-sm-4 lh-sm -2">
          Vendedor de dispositivos electrónicos en tienda física, búsqueda de necesidades de cliente y proceso completo de venta
        </p>
        <p class="text-start lh-sm -2">
          Venta a cliente final, control de stock, gestión de equipos, venta de servicios complementarios.
        </p>
        <h5 class="text-center lh-sm -2 fw-bold">
          <a
            class="text-decoration-none text-danger border-bottom"
            href="https://mytechretail.com/"
            target="_blank"
            >My Tech Retail</a
          >
        </h5>
        <h5 class="text-center lh-sm -2 h6">2018-2020 // (Jun-Ago)2021</h5>
      </div>
    </div>
    <div class="col-md-3 d-flex align-items-start">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-2-circle col-2 mt-2"
        viewBox="0 0 16 16"
      >
        <path
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM6.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306Z"
        />
      </svg>
      <div>
        <h4 class="fw-bold mb-0">Auxiliar Administrativo</h4>
        <p class="text-start mt-lg-5 mt-sm-4 lh-sm -2">
         Auxiliar administrativo centrado en tareas del departamento de logística
        </p>
        <p class="text-start lh-sm -2">
          Control de stock con base de datos, control de trazabilidad del material, manejo de paquete office para tareas administrativas.
        </p>
        <h5 class="text-center lh-sm -2 fw-bold">
          <a
            class="text-decoration-none text-primary border-bottom"
            href="https://www.aireuropa.com/es/es/home"
            target="_blank"
            >Air Europa</a
          >
        </h5>
        <h5 class="text-center lh-sm -2 h6">2020-2021 // (Marzo-Agosto)2022</h5>
      </div>
    </div>
    <div class="col-md-3 d-flex align-items-start">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-3-circle col-2 mt-2"
        viewBox="0 0 16 16"
      >
        <path
          d="M7.918 8.414h-.879V7.342h.838c.78 0 1.348-.522 1.342-1.237 0-.709-.563-1.195-1.348-1.195-.79 0-1.312.498-1.348 1.055H5.275c.036-1.137.95-2.115 2.625-2.121 1.594-.012 2.608.885 2.637 2.062.023 1.137-.885 1.776-1.482 1.875v.07c.703.07 1.71.64 1.734 1.917.024 1.459-1.277 2.396-2.93 2.396-1.705 0-2.707-.967-2.754-2.144H6.33c.059.597.68 1.06 1.541 1.066.973.006 1.6-.563 1.588-1.354-.006-.779-.621-1.318-1.541-1.318Z"
        />
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Z"
        />
      </svg>
      <div>
        <h4 class="fw-bold">Comercial Especializado</h4>
        <p class="text-justify mt-lg-5 mt-sm-3">
          Vendedor de dispositivos electrónicos con especial atención en venta consultiva de servicios complementarios
        </p>
        <p class="text-justify lh-sm -2 ">
          Venta a cliente final, control de stock, gestión de equipos, venta de servicios complementarios.
        </p>
        <h5 class="text-center lh-sm -2 fw-bold">
          <a
            class="text-decoration-none text-primary border-bottom"
            href="https://www.upgrade-hub.com/"
            target="_blank"
            >Hubside</a
          >
        </h5>
        <h5 class="text-center lh-sm -2 h6">2021-2022</h5>
      </div>
    </div>
    <div class="col-md-3 d-flex align-items-start">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-4-circle col-2 mt-2"
        viewBox="0 0 16 16"
      >
        <path
          d="M7.519 5.057c.22-.352.439-.703.657-1.055h1.933v5.332h1.008v1.107H10.11V12H8.85v-1.559H4.978V9.322c.77-1.427 1.656-2.847 2.542-4.265ZM6.225 9.281v.053H8.85V5.063h-.065c-.867 1.33-1.787 2.806-2.56 4.218Z"
        />
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Z"
        />
      </svg>
      <div>
        <h4 class="fw-bold">Prácticas en maquetación web</h4>
        <p class="text-justify mt-lg-5 mt-sm-3 ">
          Maquetación web basada en los formularios que un ciente final rellenará, con enlace a base de datos y envió de correos a cliente final
        </p>
        <p class="text-justify lh-sm -2 lh-md-3">
          Utilización de lenguajes de programación como PHP, bases de datos mediante MySql y maquetación con Bootstrap
        </p>
        <h5 class="text-center lh-sm -2 fw-bold">
          <a
            class="text-decoration-none text-danger border-bottom"
            href="https://azkenservices.com/"
            target="_blank"
            >Azken Services</a
          >
        </h5>
        <h5 class="text-center lh-sm -2 h6">2022(Actualmente)</h5>
      </div>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>

<div class="container px-4 py-5" id="Hobbies">
  <h2 class="pb-2 border-bottom text-center">Hobbies</h2>
  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
        style="
          background-image: url('../../../assets/images/concierto.jpg');
          background-size: cover;
          filter: grayscale(20%);
        "
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
            "Heavy desde pequeñito, aunque me relaja escuchar un poco de todo"
          </h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img
                src="../../../assets/images/ManuelCode.png"
                alt="Healthy"
                width="50"
                height="50"
                class="rounded-circle border border-white"
              />
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#geo-fill" />
              </svg>
              <small>Música</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#calendar3" />
              </svg>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
        style="
          background-image: url('../../../assets/images/lectura.jpg');
          background-size: cover;
          filter: grayscale(20%);
        "
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
            "Leer me despierta en mundos diferentes, lo necesito para descrubir
            hasta donde puedo llegar"
          </h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img
                src="../../../assets/images/ManuelCode.png"
                alt="Healthy"
                width="50"
                height="50"
                class="rounded-circle border border-white"
              />
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#geo-fill" />
              </svg>
              <small>Lectura</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#calendar3" />
              </svg>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
        style="
          background-image: url('../../../assets/images/deporte.jpg');
          background-size: cover;
        "
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
            "El deporte es como mi medicina, un poco todos los días y como
            nuevo"
          </h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img
                src="../../../assets/images/ManuelCode.png"
                alt="Healthy"
                width="50"
                height="50"
                class="rounded-circle border border-white"
              />
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#geo-fill" />
              </svg>
              <small>Deporte</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#calendar3" />
              </svg>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

