<main class="p-3 container">
  <h1>Curriculum con Angular y Bootstrap</h1>
  <p class="lead">Baso este CV en mis conocimientos en Angular y Bootstrap  para conseguir un curriculum fluido y claro</p>
  <p class="lead">
    <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-dark">Learn more</a>
  </p>
</main>
<div class="b-example-divider"></div>

  <div class="container px-4 py-5" id="Education">
    <h2 class="pb-2 border-bottom">Formación</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-1-circle col-2 mt-2" viewBox="0 0 16 16">
            <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM9.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383h1.312Z"/>
          </svg>
          <div>
          <h4 class="fw-bold mb-0">Grado en comercio</h4>
          <p class="text-justify mt-3 lh-sm -2">Educación basada en marketing, donde me formé tanto en teoría económica como en administración de empresas</p>
          <p class="text-justify lh-sm -2">Análisis de mercado, métodos estadísticos, gestión de equipos, habilidades comunicativas </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-2-circle col-2 mt-2" viewBox="0 0 16 16">
          <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM6.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306Z"/>
        </svg>
        <div>
          <h4 class="fw-bold mb-0">MBA Business Administration</h4>
          <p class="text-justify mt-3 lh-sm -2">Educación basada en marketing, donde me formé tanto en teoría económica como en administración de empresas</p>
          <p class="text-justify lh-sm -2">Análisis de mercado, métodos estadísticos, gestión de equipos, habilidades comunicativas </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-3-circle col-2 mt-2" viewBox="0 0 16 16">
          <path d="M7.918 8.414h-.879V7.342h.838c.78 0 1.348-.522 1.342-1.237 0-.709-.563-1.195-1.348-1.195-.79 0-1.312.498-1.348 1.055H5.275c.036-1.137.95-2.115 2.625-2.121 1.594-.012 2.608.885 2.637 2.062.023 1.137-.885 1.776-1.482 1.875v.07c.703.07 1.71.64 1.734 1.917.024 1.459-1.277 2.396-2.93 2.396-1.705 0-2.707-.967-2.754-2.144H6.33c.059.597.68 1.06 1.541 1.066.973.006 1.6-.563 1.588-1.354-.006-.779-.621-1.318-1.541-1.318Z"/>
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Z"/>
        </svg>
        <div>
          <h4 class="fw-bold mb-0">Máster digital en Marketing</h4>
          <p class="text-justify mt-3 lh-sm -2">Educación basada en marketing, donde me formé tanto en teoría económica como en administración de empresas</p>
          <p class="text-justify lh-sm -2">Análisis de mercado, métodos estadísticos, gestión de equipos, habilidades comunicativas </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-4-circle col-2 mt-2" viewBox="0 0 16 16">
          <path d="M7.519 5.057c.22-.352.439-.703.657-1.055h1.933v5.332h1.008v1.107H10.11V12H8.85v-1.559H4.978V9.322c.77-1.427 1.656-2.847 2.542-4.265ZM6.225 9.281v.053H8.85V5.063h-.065c-.867 1.33-1.787 2.806-2.56 4.218Z"/>
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Z"/>
        </svg>
        <div>
          <h4 class="fw-bold mb-0">Bootcamp Full Stack</h4>
          <p class="text-justify mt-3 lh-sm -2">Educación basada en marketing, donde me formé tanto en teoría económica como en administración de empresas</p>
          <p class="text-justify lh-sm -2">Análisis de mercado, métodos estadísticos, gestión de equipos, habilidades comunicativas </p>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container px-4 py-5" id="Hobbies">
    <h2 class="pb-2 border-bottom">My hobbies</h2>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"style="background-image: url('../../../assets/images/concierto.jpg'); background-size:cover; filter:grayscale(20%);">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">"Heavy desde pequeñito, aunque me relaja escuchar un poco de todo"</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="../../../assets/images/ManuelCode.png" alt="Healthy" width="50" height="50" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Música</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('../../../assets/images/lectura.jpg'); background-size:cover; filter:grayscale(20%);">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">"Leer me despierta en mundos diferentes, lo necesito para descrubir hasta donde puedo llegar"</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="../../../assets/images/ManuelCode.png" alt="Healthy" width="50" height="50" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Lectura</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style=" background-image: url('../../../assets/images/deporte.jpg'); background-size:cover">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">"El deporte es como mi medicina, un poco todos los días y como nuevo"</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="../../../assets/images/ManuelCode.png" alt="Healthy" width="50" height="50" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Deporte</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container px-4 py-5" id="Experience">
    <h2 class="pb-2 border-bottom">Experiencia</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"/></svg>
        <div>
          <h4 class="fw-bold mb-0">Featured title</h4>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"/></svg>
        <div>
          <h4 class="fw-bold mb-0">Featured title</h4>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"/></svg>
        <div>
          <h4 class="fw-bold mb-0">Featured title</h4>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"/></svg>
        <div>
          <h4 class="fw-bold mb-0">Featured title</h4>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>

    </div>
  </div>



